body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #c2fcff;
}

#quote-box {
  padding-top: 20px;
  padding-bottom: 40px;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

#new-quote {
  margin: 0 auto;
  border: 0;
  padding: 7px 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 650px) {
  #quote-box {
    width: 80%;
  }
} 
